@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  font-family: "Lato", sans-serif;
  color: #523754;
}

.undo-icon {
  position: absolute;
  color: #523754;
}

#header-title {
  color: #523754;
  font-family: "Lato Black", sans-serif;
  font-size: 1.4em;
}

#header-text {
  color: #523754;
  font-family: "Lato", sans-serif;
}

#next-button {
  background: rgb(197, 43, 105);
  background: linear-gradient(
    90deg,
    rgba(197, 43, 105, 1) 0%,
    rgba(130, 57, 113, 1) 100%
  );
  color: white;
  border-radius: 3.5em;
  height: 3.5em;
}

.companies {
  width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
