@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: #523754;
}

.undo-icon {
  position: absolute;
  color: #523754;
}

#header-title {
  color: #523754;
  font-family: 'Lato Black', sans-serif;
  font-size: 1.4em;
}

#header-text {
  color: #523754;
  font-family: 'Lato', sans-serif;
}

#next-button-country {
  border-radius: 3.5em;
  height: 3.5em;
}

.next-button-gradient {
  background: rgb(197, 43, 105);
  background: linear-gradient(
    90deg,
    rgba(197, 43, 105, 1) 0%,
    rgba(130, 57, 113, 1) 100%
  );
  color: white;
}

.next-button-disabled {
  color: #797878;
  border-color: #797878;
}

.pagination-dot {
  width: 0.7em;
  height: 0.7em;
  border-radius: 0.7em;
  border: 0.07em solid #979797;
  display: inline-block;
  margin: 0.12em;
}

.pagination-dot-active {
  background: #d82666;
  border-color: #d82666;
}

#country-bottom-container {
  background-color: white;
  padding-top: 2em;
}

.bank-item {
  border-bottom: 1px solid #b4b4b457;
  padding-bottom: 0.6em;
}

.country-bank-name {
  margin-left: 1em;
  color: #b4b4b4;
  font-size: 0.9em;
}

.country-bank-image {
  width: 13%;
  margin-left: 1em;
}

#banks-container {
  padding-bottom: 6em;
}

.country-selected-bank {
  border-radius: 1em;
  background: #f5f5f5;
}
