@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  font-family: "Lato", sans-serif;
  color: #523754;
}

.undo-icon {
  position: absolute;
  color: #523754;
}

#header-title {
  color: #523754;
  font-family: "Lato Black", sans-serif;
  font-size: 1.4em;
}

#header-text {
  color: #523754;
  font-family: "Lato", sans-serif;
}

#next-button {
  border-radius: 3.5em;
  height: 3.5em;
}

.bottom-container {
  position: fixed;
  bottom: 0;
}

.next-button-gradient {
  background: rgb(197, 43, 105);
  background: linear-gradient(
    90deg,
    rgba(197, 43, 105, 1) 0%,
    rgba(130, 57, 113, 1) 100%
  );
  color: white;
}

.next-button-disabled {
  color: #797878;
  border-color: #797878;
}

input[type="text"]:focus {
  outline: 2px solid #793b72;
}

input[type="number"]:focus {
  outline: 2px solid #793b72;
}

.label-focus {
  color: #793b72;
}

.pagination-dot {
  width: 0.7em;
  height: 0.7em;
  border-radius: 0.7em;
  border: 0.07em solid #979797;
  display: inline-block;
  margin: 0.12em;
}

.pagination-dot-active {
  background: #d82666;
  border-color: #d82666;
}
#name-age-body {
  padding-bottom: 7.5em;
}
#name-age-bottom {
  background: white;
}
