@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: #523754;
}

.undo-icon {
  position: absolute;
  color: #523754;
}

#header-title {
  color: #523754;
  font-family: 'Lato Black', sans-serif;
  font-size: 1.4em;
}

#header-text {
  color: #523754;
  font-family: 'Lato', sans-serif;
}

#header-text-small {
  font-size: 0.6em;
}

.sdg-image {
  width: 45%;
  border: 1px solid #b4b4b4;
  border-radius: 15px;
}

.sdg {
  float: left;
  position: relative;
}

.sdg-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(82, 55, 84, 0.28);
  color: #fff;
  border: 1px solid #b4b4b4;
  border-radius: 15px;
  display: none;
}

.sdg-circle {
  width: 20%;
  height: 20%;
  border-radius: 100%;
  background: white;
  color: red;
}

#continue-button {
  border-radius: 3.5em;
  height: 3.5em;
  background: rgb(197, 43, 105);
  background: linear-gradient(
    90deg,
    rgba(197, 43, 105, 1) 0%,
    rgba(130, 57, 113, 1) 100%
  );
  color: white;
}

#continue-button-sdg {
  background: white;
  padding-top: 2.3em;
  display: none;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.margin-bottom-sdg {
  margin-bottom: 7em;
}

.sdg-check-icon svg {
  fill: #e92063;
}
