@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body,
html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* --- Onboarding Page Swiper */
.swiper-container {
  width: 100%;
  min-height: 75vh;
}

.swiper-slide {
  text-align: center;
}

.swiper-image {
  max-height: 35vh;
  width: auto;
}

.slider-header {
  color: #523754;
  font-family: 'Lato Black', sans-serif;
  font-weight: bold;
}

.slider-text {
  color: #4d2f50c1;
  font-family: 'Lato Black', sans-serif;
  font-weight: bold;
  font-size: 2vh;
}

.swiper-pagination > .swiper-pagination-bullet {
  height: 0.75rem;
  width: 0.75rem;
  opacity: 1;
  border: #979797 solid 0.5px;
  background-color: transparent;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #e81f62;
  border: #e81f62 solid 1px;
}

/* --- Onboarding Page Buttons Section */
.button-container {
  height: 25vh;
}

.button-wrapper {
  background: rgb(197, 43, 105);
  background: linear-gradient(
    180deg,
    rgba(197, 43, 105, 1) 0%,
    rgba(130, 57, 113, 1) 100%
  );
}

#register-button {
  color: #523754;
  background-color: #ffffff;
  border-radius: 3.75em;
  height: 3.75em;
  line-height: 2.75em;
  font-weight: bold;
}

#login-button {
  color: #ffffff;
}
